{% extends 'authapp/base.html' %} 
{% load static %}               
 
{% block content %}
<div class="auth-content">
                        <div class="card has-shadow rounded-15 py-4 px-2">
                            <div class="card-body">
                                <h3 class="fw-normal text-center mb-4">Login to your account</h3>
                                <form method="POST" class="needs-validation" novalidate>
                                    {% csrf_token %}
                                    {% if messages %}
                <ul>
                    {% for message in messages %}
                      <p class="alert alert-primary"> {{ message }} </p> 
                    {% endfor %}
                </ul>
            {% endif %}
                                    <div class="mb-4">
                                        <label for="username" class="form-label fw-normal font-size-14">Username</label>
                                        <input type="text" id="username" name="username" class="form-control"
                                            placeholder="Please enter your username" required>
                                        <div class="invalid-feedback">Please enter your usernamename.</div>
                                    </div>
                    
                                    <div class="mb-4">
                                        <label for="validationPassword" class="form-label fw-normal font-size-14">Password</label>
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Please enter your password" minlength="8" required>
                                        <div class="invalid-feedback">Invalid password.</div>
                                    </div>
                                    <div class="text-center mb-4">
                                        <a href="{% url 'reset-password'%}" class="fw-normal font-size-14">Can't remember your password?.</a>
                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}">
                                    <button type="submit" class="btn btn-primary fw-semibold rounded-10 w-100">Sign In</button>
                                </form>
                                <p class="font-size-14 text-muted text-center mt-4 mb-0">New user? <a href="{% url 'register' %}" class="text-primary">Create account</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock%}