{% extends 'authapp/base.html'%}
{% block content %}
<div class="auth-content">
    <div class="card has-shadow rounded-15 py-4 px-2">
        <div class="card-body">
            <h3 class="fw-normal text-center mb-4">Create Account</h3>
        
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}

        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                      <p class="alert alert-primary" id="messages"> {{ message }} </p> 
                    {% endfor %}
                </ul>
            {% endif %}
           
                
                <div class="mb-3">
                    <label for="validationEmail" class="form-label fw-normal font-size-14">Email Address</label>
                    <input type="email" name="email" id="email" class="form-control"
                        placeholder="adekunle.bayo@gmail.com"
                        pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+" required>
                    <div class="invalid-feedback">Enter valid email address.</div>
                </div>

                <!--  UserName -->
                <div class="mb-4">
                    <label for="username" class="form-label fw-normal font-size-14">Username</label>
                    <input type="text" id="username" name="username" class="form-control"
                        placeholder="Please enter your username" required>
                    <div class="invalid-feedback">Please enter your usernamename.</div>
                </div>

                <!-- First Name -->
                <div class="mb-4">
                    <label for="validationFirstName" class="form-label fw-normal font-size-14">First Name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control"
                        placeholder="Please enter your first name" required>
                    <div class="invalid-feedback">Please enter your first name.</div>
                </div>

                <div class="mb-4">
                    <label for="validationlastName" class="form-label fw-normal font-size-14">Last Name</label>
                    <input type="text" id="last_name" name="last_name" class="form-control"
                        placeholder="Please enter your last name" required>
                    <div class="invalid-feedback">Please enter your last name.</div>
                </div>

                <div class="mb-4">
                    <label for="validationPassword" class="form-label fw-normal font-size-14">Password</label>
                    <input type="password" name="password"  id="password" class="form-control"
                        placeholder="Please enter your password" minlength="8" required>
                    <div class="invalid-feedback">Must contain at least 8 characters.</div>
                </div>
                <div class="row mb-4 gx-3">
                    <div class="col-auto">
                        <input type="checkbox" name="validationCheck" class="form-check-input mt-2" required>
                    </div>
                    <div class="col">
                        <p class="fw-normal font-size-13" for="validationCheck">By creating an account you agree to our
                            <a href="#!" class="text-info">Terms and Conditions</a> and <a href="#!"
                                class="text-info">Data Protection Guidelines.</a></p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary fw-semibold rounded-10 w-100">Register</button>
            </form>

           
        
            <p class="font-size-14 text-muted text-center mt-4 mb-0">Already registered? <a href="{% url 'loginuser' %}"
                    class="text-primary">Login</a></p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}