{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title> JaraNetwork — A banking platform as innovative as the market we serve. </title>
    <meta name="title" content="JaraNetwork — A banking platform as innovative as the market we serve." />
    <meta name="description" content="A banking platform as innovative as the market we serve." />
    <meta name="keywords" content="jaranetwork, banking, innovative, finance, market, serve, currency, cryptocurrency, convenient" />
    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jaranetwork.com/" />
    <meta property="og:title" content="JaraNetwork — A banking platform as innovative as the market we serve." />
    <meta property="og:description" content="A banking platform as innovative as the market we serve." />
    <meta property="og:image" content="https://jaranetwork.com/assets/images/graph.png" />
    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@JaraNetwork" />
    <meta property="twitter:url" content="https://jaranetwork.com/" />
    <meta property="twitter:title" content="JaraNetwork — A banking platform as innovative as the market we serve." />
    <meta property="twitter:description" content="A banking platform as innovative as the market we serve." />
    <meta property="twitter:image" content="https://jaranetwork.com/assets/images/graph.png" />
    <!-- Schema.org Meta Tags -->
    <meta itemprop="name" content="JaraNetwork — A banking platform as innovative as the market we serve." />
    <meta itemprop="description" content="A banking platform as innovative as the market we serve." />
    <meta itemprop="image" content="https://jaranetwork.com/assets/images/graph.png" />
    <!-- App Icons -->
    <link rel="shortcut icon" href="{% static 'assets/images/brands/favicon.png' %}" type="image/png" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'libs/pace/css/minimal.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" id="bootstrap-style" />
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}" id="app-style" />
    <link rel="stylesheet" href="{% static 'css/theme.min.css'%}" />
    

<body>

    
  
                    {% block content%}
                    {% endblock %}

                    <footer class="text-center py-4">
                        <span class="text-muted">@JaraNetwork</span>
                    </footer>
                    <!-- END Layout Wrapper -->
                
                    <!-- JAVASCRIPT -->
                    <script src="{% static 'libs/jquery/jquery.min.js'%}"></script>
                    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
                    <script src="{% static 'js/pages/validation.init.js'%}"></script>
                    <script src="{% static 'libs/pace/js/pace.min.js'%}"></script>
                    <script src="{% static 'js/app.min.js'%}"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>



                    <script>
                        // JavaScript to make messages disappear after 3 seconds
                        document.addEventListener('DOMContentLoaded', function() {
                            setTimeout(function() {
                                var messages = document.getElementById('messages');
                                if (messages) {
                                    messages.style.display = 'none';
                                }
                            }, 3000);
                        });
                    </script>

                    <script>
                        let ctx = document.getElementById("data").getContext("2d");

// <block:setup:1>
    const labels = Utils.months({count: 7});
    const data = {
      labels: labels,
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 80, 81, 56, 55, 40],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    };
    // </block:setup>
    
    // <block:config:0>
    const config = {
      type: 'line',
      data: data,
    };
    // </block:config>
    
    module.exports = {
      actions: [],
      config: config,
    };
                    </script>

                    
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
                </body>
                </html>